*.a
*.gch
*.gcov
*.gcda
*.gcno
*.gz
*.la
*.lo
*.log
*.o
*.orig
*.swo
*.swp
*.trs
.deps/
.libs/
Makefile.in
Makefile

/aclocal.m4
/autom4te.cache/
/autoscan.log
/build-aux/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/configure.scan
/libtool
/m4/*.m4
/stamp-h1

/data/config.txt
/data/notinst.txt
/data/*.0

/lib/emu/emu_lex.c
/lib/emu/emu_syntax.c
/lib/emu/emu_syntax.h
/lib/openemv.pc

/src/emu_test
/src/emv_cap
/src/emv_cl_cda
/src/emv_dda
/src/emv_dump
/src/emv_dump_emu
/src/emv_ppse
/src/emv_pse
/src/emv_select

/test/capk-verify
/test/cda-test
/test/crypto-test
/test/dda-test
/test/emu_test
/test/sda-test
/test/tlv-test
/test/emv_pki_priv_test
