*.a
*.gz
*.o
*.swp
.deps/
aclocal.m4
autom4te.cache/
autoscan.log
build-aux/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
configure.scan
Makefile.in
Makefile
stamp-h1

src/main
src/pcsc?
src/capk-test
src/sda-test
