*.a
*.gz
*.la
*.lo
*.log
*.o
*.swp
*.trs
.deps/
.libs/
aclocal.m4
autom4te.cache/
autoscan.log
build-aux/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
configure.scan
libtool
m4/*.m4
Makefile.in
Makefile
stamp-h1

lib/emu/emu_lex.c
lib/emu/emu_syntax.c
lib/emu/emu_syntax.h
lib/openemv.pc

src/emu_test
src/emv_dda
src/emv_cl_cda
src/emv_dump
src/emv_dump_emu
src/capk-verify
src/tlv-test
